@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    background-color: white;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a{
    font-family: 'DM Sans';
}

.contentBox
{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
    max-width: fit-content;
    border: 2px solid grey;
    border-radius: 5px;
}
.contentBox_Title{
    padding: 10px 10px 10px 10px;
    border-bottom: 4px dashed grey;
    
}
.contentBox_Title h1{
    font-size: 4rem;
    margin-top: 0px;
    margin-bottom: 5px;
}
.contentBox_Content{
    padding: 0px 10px 10px 10px;
}
.contentBox_Content h2{
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 5px;
}
.contentBox_Content p{
    font-size: 2.5rem;
    margin: 0px;
}
.contentBox_Content li{
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 10px;
}