name: Deploy Docs

on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: windows-latest
    permissions:
      contents: read
      deployments: write
    name: Deploy to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name : Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4' # Specify the Ruby version you need
          bundler-cache: true
      - run: bundle exec rake
      
      - name: Setup Jeykll
        run: |
          gem install jekyll bundler
          bundle install

      - name: Build Jeykll Site
        run: $JEKYLL_ENV=production bundle exec jekyll build

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy _site --project-name=oyster
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}